---
import { Image } from "astro:assets";


---
<nav>
    <div id="siteName">
        <a href="https://betonjeanette.github.io/DivisibilityClock/">
            <h1>Divisibility Clock</h1>
            <Image src="/DivisibilityClock/faviconNoBorders.svg" alt="" width={50} height={50} />
        </a>
    </div>
    <div id="linkSection">
        <ul id="linkList">
            <li class="link"><b><a href="https://betonjeanette.github.io/DivisibilityClock/explanation">Explanation</a></b></li>
            <li class="link"><b><a href="https://betonjeanette.github.io/DivisibilityClock/about">Creator</a></b></li>
        </ul>
    </div>
</nav>