---
import "../styles/global.css"
import Navbar from "../components/navbar.astro";
const { title } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/DivisibilityClock/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="A site that generates divisiability clock diagrams!" />
        <meta property="og:description" content="A site that generates divisiability clock diagrams!" />
        <meta property="og:image" content="/DivisibilityClock/favicon.svg" />
        <meta property="og:url" content="https://betonjeanette.github.io/DivisibilityClock/" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Navbar />
        <div class="content">
            <slot />
        </div>
    </body>
</html>